<nav class="navbar mb-6" role="navigation" aria-label="main navigation">
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a class="button is-light">Register</a>
        <a class="button is-light">Login</a>
      </div>
    </div>
  </div>
</nav>
