<nav class="navbar mb-6" role="navigation" aria-label="main navigation">
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a class="button is-light" href="/register">Register</a>
        <% if (typeof id === 'undefined') { %>
        <a class="button is-light" href="/login">Login</a>
        <% } else { %>
        <a class="button is-light" href="#">Logout</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
